body {
    font-family: 'Open Sans Condensed', verdana, sans-serif;
    font-weight: 300;
    overflow: hidden;
    position: relative;
    left: 0;
    margin: 0;
    background-image: url('background.jpg');
    background-size: cover;
}
.menu {
    background: url('menu-background.jpg') repeat left top;
    left: -285px;
    height: 100%;
    position: fixed;
    width: 285px;
}
.menu ul {
    border-top: 1px solid #636366;
    list-style: none;
    margin: 0;
    padding: 0;
}
.menu li {
    border-bottom: 1px solid #636366;
    line-height: 45px;
    padding-bottom: 3px;
    padding-left: 20px;
    padding-top: 3px;
    font-family: 'Open Sans Condensed', verdana, sans-serif;
}
.menu a {
    color: white;
    font-size: 15px;
}
.icon-close {
    cursor: pointer;
    padding-left: 10px;
    padding-top: 10px;
}
.icon-menu {
    color: rgb(0, 153, 204);
    cursor: pointer;
    font-family: 'Open Sans Condensed', verdana, sans-serif;
    font-size: 16px;
    padding-bottom: 25px;
    padding-left: 0px;
    padding-top: 25px;
}
.icon-menu i {
    margin-right: 5px;
}
footer {
    font-size: 12px;
    padding: 20px 0;
}
footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}
footer li img {
  width: 32px;
  height: 32px;
}
footer ul {
  list-style: none;
}
span {
    color: white;
}