body {
    font-family: 'Open Sans Condensed', verdana, sans-serif;
    font-weight: 300;
    background-image: url("https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-3/background.jpg");
    background-position: center top;
    background-size: cover;
}
header {
    padding: 10px 0;
    width: 100%;
    position: fixed;
    background-color: rgba(150, 150, 150, 0.7);
    z-index: 1;
}
header h1 {
    font-weight: 200;
    margin: 0;
    color: white;
}
header nav {
    display: flex;
    justify-content: space-between;
}
.btn.btn-default {
    color: white;
    border: 0px;
    text-shadow: none;
    margin-top: auto;
    background-color: inherit;
}
.btn.btn-default:hover {
    color: black;
}
.btn.btn-default:active {
    color: black;
    background-color: inherit;
}
footer {
    font-size: 12px;
    padding: 20px 0;
}
footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}
footer li img {
  width: 32px;
  height: 32px;
}
footer ul {
  list-style: none;
}
.jumbotron {
    display: flex;
    align-items: center;
    background-size: cover;
    background-image: url("mosquitodefault.jpg");
    height: 500px;
    color: rgb(240, 240, 240);
}
form {
    width: 50%;
}
table {
    width: 80%;
}