body {
    font-family: 'helvetica', verdana, sans-serif;
    font-weight: 300;
    background-color: white;
}
header {
    padding: 10px 0;
    width: 100%;
    z-index: 1;
}
header nav {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}
.btn.btn-default {
    color: rgb(73, 122, 190);
    border: 0px;
    text-shadow: none;
    margin-top: auto;
    background-color: inherit;
}
.btn.btn-default:hover {
    color: black;
}
.btn.btn-default:active {
    color: black;
    background-color: inherit;
}
.col-sm-8 {
    font-size: large;
}