body {
    font-family: 'helvetica', verdana, sans-serif;
    font-weight: 300;
    background-color: white;
}
header {
    padding: 10px 0;
    width: 100%;
    z-index: 1;
}
header nav {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}
.btn.btn-default {
    color: rgb(73, 122, 190);
    border: 0px;
    text-shadow: none;
    margin-top: auto;
    background-color: inherit;
}
.btn.btn-default:hover {
    color: black;
}
.btn.btn-default:active {
    color: black;
    background-color: inherit;
}
.col-sm-8 {
    font-size: large;
}
blockquote {
    text-align: center;
    color: rgba(73, 122, 190, 1);
    font-family: cursive;
    font-size: larger;
}
.pull-left {
    max-width: 30%;
    height: auto;
}
.gap-right {
    margin-right: 20px; 
}
.filter {
    -webkit-filter: blur(40px);
    filter: blur(40px);
}
.unfilter {
    -webkit-filter: blur(0px);
    filter: blur(0px);
}
.gap-bottom {
  margin-bottom: 20px; 
}
.thumbnail {
    position: relative;
    border: hidden;
}
.caption {
    position: absolute;
    top: 45%;
    left: 0;
    width: 100%;
}
.invisible {
    color: inherit;
}
.chart {
    max-width: 50%;
    height: auto;
    align-content: center;
}
@media (max-width: 600px){
    .chart {
        display: none;
    }
    #chartcaption {
        display: none;
    }
    #chartsource {
        display: none;
    }
}
#sdg {
    max-width: 70%;
    height: auto;
    border-radius: 300px;
}